.header__container {
    display: flex;
    justify-content: flex-end;
  }
  
  .header__btn-logout {
    background: #d14848 !important;
    color: #fff !important;
    border-radius: 10px !important;
  }
  